/* Color variables; use to change site colors quickly */
:root {
  --border: rgb(81, 78, 226);
  --bordergradient: rgba(255, 122, 255,0.25);
  --fancylineleft: #8D5DA4;
  --fancylineright: #0066ff;
  --url: white;
  --urlclicked: lightskyblue;
  --layout-inmargin: 10px;
  --padding: 15px;
}

/* Font declaration */
@font-face {
    font-family: 'Munro';
    src: url('/fonts/Munro.woff2') format('woff2');
    src: url('/fonts/Munro.woff') format('woff');
    src: url('/fonts/Munro.ttf') format('truetype');
    font-display: swap;
}

/* Border theming */
section.viewport > nav, section.leftsb, section.rightsb, section.body > article {
    border: 5px solid lightgray;
    border-color: var(--border);
    border-style: outset;
    background-color: rgba(0, 0, 0, 0.750);
    box-sizing: border-box;
}

/* Background CSS */
body {
background-image: url('images/bg_v3.png');
background-position: center;
background-size: cover;
background-color: #6084E0;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Munro', monospace;
font-size: 20px;
margin: 0;
}

/* Entire viewport */
section.viewport {
    display: flex;
    width: 1024px;
    height: 768px;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: max(calc((100vh - 768px) / 7), 0px);
  }

  /* Logo flexbox */
  section.viewport > img {
    height: 80px;
    margin-bottom: 10px;
  }

  /* Nav flexbox */
  section.viewport > nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--layout-inmargin);
  }

  section.viewport > nav a {
    margin: 0 25px;
    color: white;
  }

  section.viewport > nav a:visited {
    color: white;
  }

  

  /* Main flexbox */
  section.body {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    min-height: 1px;
  }

  /* Sidebars */
  section.leftsb, section.rightsb {
    width: 190px;
    height: 100%;
  }

  section.leftsb {
    order: 1;
  }

  section.rightsb {
    order: 3;
  }
  
  /* Left sidebar flexbox */
    section.leftsb > iframe {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        border: none;
        padding: var(--layout-inmargin);
        box-sizing: border-box;
    }

    /* Right sidebar flexbox */
    section.rightsb > iframe {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        border: none;
        padding: var(--layout-inmargin);
        box-sizing: border-box;
    }

  /* Actual content window */
  section.body article {
    flex: 1;
    order: 2;
    margin: 0 var(--layout-inmargin);
    overflow-y: auto;
    padding: var(--padding);
    color: white;
  }


  /* Header theming */
  section.body article h1 {
    background-image: linear-gradient(to right, var(--border), var(--bordergradient));
    background-color: transparent;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    border: 3px solid lightgray;
    font-size: 28px;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 30px;
    }

  /* Footer CSS */
  section.viewport > footer {
    margin-top: var(--layout-inmargin);
    color: darkgray;
    font-style: italic;
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
  }

  /* Decoration stuff */
  
  .fancyline{
    background: linear-gradient(to right, var(--fancylineleft), var(--fancylineright));
    height: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
  }

  a {
    color: var(--url);
  }

  a:visited {
    color: var(--urlclicked);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* stupid guestbook CSS we can't wait to get rid of this fucker */

  .home-desc {
    display: none;
  }
  
  #HCB_comment_box h3 {
    display: none;
  }
  
  .hcb-icon {
    display: none;
  }
  
  .commentbox {
    margin-left: auto;
    margin-right: auto;
  }
  
  #HCB_comment_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
  }
  
  #HCB_comment_box p {
    font-family: 'Munro';
    font-size: 16px;
  }
  
  #HCB_comment_box textarea {
    font-family: 'Munro';
  }
  
  #HCB_comment_box #hcb_form_content,
    #HCB_comment_box #hcb_form_email,
    #HCB_comment_box #hcb_form_name,
    #HCB_comment_box #hcb_form_website {
      background-color:rgba(0, 0, 0, 0);
      outline: white;
      color: white;
      font-family: 'Munro' !important;
    }
  
    #HCB_comment_box .submit {
      background:none; /* Clear twitter bootstrap style. */
      background-color:green;
      border:1px solid darkgreen;
      color: white;
      font-family: 'Munro'
    }   