section.systemdir {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.systemdir > section.alter {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 3px solid lightgray;
    margin-bottom: 10px;
}

section.alter img {
    order: 1;
    width: 20%;
    margin: 3%;
    align-self: center;
    border: 3px solid lightgray;
    border-radius: 10px;

}

section.alter span {
    margin: 3%;
    order: 2;
    width: 70%;
}

