@font-face {
  font-family: 'Munro';
  src: url('/fonts/Munro.woff2') format('woff2');
  src: url('/fonts/Munro.woff') format('woff');
  src: url('/fonts/Munro.ttf') format('truetype');
  font-display: swap;
}

/* Color variables; use to change site colors quickly */
:root {
  --border: #ffbefd;
  --bordergradient: rgba(255, 122, 255,0.25);
  --fancylineleft: #8D5DA4;
  --fancylineright: #EA428B;
  --url: white;
  --urlclicked: lightskyblue;
}

body {
    background-image: url('../images/old_bg_2.jpg');
    background-position: center;
    background-size: cover;
    background-color: #6084E0;
    font-family: 'Munro', monospace;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 22px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.logo{
  width: 500px;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  image-rendering: pixelated;
}


section.main{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    width: 1000px;
    margin: auto;
  }
  
  section.navContent{
    border: 5px solid lightgray;
    border-color: var(--border);
    border-style: outset;
    background-color: rgba(0, 0, 0, 0.850);
    width: 25%;
    height: auto;
    /* putting height to 100% herew ill cause it to be the same height as the partent container, which is Main.*/
  }
  
  article.mainText{
    width: 70%;
    margin-left: 1%; /*because i want a nice division between page content and nav*/
    margin-right: 1%;
    border: 5px solid lightgray;
    border-color: var(--border);
    border-style: outset;
    background-color: rgba(0, 0, 0, 0.850);
    color: white;
  }

  section.aboutMe{
    border: 5px solid lightgray;
    border-color: var(--border);
    border-style: outset;
    background-color: rgba(0, 0, 0, 0.850);
    width: 25%;
    height: auto;
    margin-left: 1%;
    /* putting height to 100% herew ill cause it to be the same height as the partent container, which is Main.*/
  }
  
  h1 {
  background-image: linear-gradient(to right, var(--border), var(--bordergradient), rgba(255, 122, 255, 0));
  background-color: transparent;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  }
  
  p {
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  /* decorations! */
  
  .fancyline{
    background: linear-gradient(to right, var(--fancylineleft), var(--fancylineright));
    height: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
  }

  .gayaf {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 1px white;
  }
    
  /* center stuff! */
  .center {
    text-align: center;
    margin: auto;
    display: block;
  }
  
  /* padding for main-text elements */
  .mainText p { 
    padding-left: 10px;
    padding-right: 10px;
  }

  .mainText h1{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mainText span{
    padding-left: 20px;
    padding-right: 20px;
  }

  .spanlist {
    font-size: 20px;
    padding-bottom: 10px;
    color: lightgray;
    font-style: italic;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
}

.spotify {
  width: 490px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

iframe {
  width: 220px;
  height: 950px;
  overflow: hidden;
  border: none;
}

a {
  color: var(--url);
}

a:visited {
  color: var(--urlclicked);
}

.blogImg { 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.reviewimg {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.gameImg { 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  border: 3px solid #EA428B;
  border-color: var(--border);
  border-style: outset;
}

strong {
  text-decoration: underline dashed;
  font-style: italic;
}

/* guestbook hiding CSS */

.home-desc {
  display: none;
}

#HCB_comment_box h3 {
  display: none;
}

.hcb-icon {
  display: none;
}

.commentbox {
  margin-left: auto;
  margin-right: auto;
}

#HCB_comment_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:450px;
}

#HCB_comment_box p {
  font-family: 'Munro';
  font-size: 16px;
}

#HCB_comment_box textarea {
  font-family: 'Munro';
}

#HCB_comment_box #hcb_form_content,
  #HCB_comment_box #hcb_form_email,
  #HCB_comment_box #hcb_form_name,
  #HCB_comment_box #hcb_form_website {
    background-color:rgba(0, 0, 0, 0);
    outline: white;
    color: white;
    font-family: 'Munro' !important;
  }

  #HCB_comment_box .submit {
    background:none; /* Clear twitter bootstrap style. */
    background-color:green;
    border:1px solid darkgreen;
    color: white;
    font-family: 'Munro'
  }

.hideobj {
  visibility: hidden; height: 20px; width: 0%;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}