
/* Font importing */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Munro';
  src: url('/fonts/Munro.woff2') format('woff2');
  src: url('/fonts/Munro.woff') format('woff');
  src: url('/fonts/Munro.ttf') format('truetype');
  font-display: swap;
}

/* Variable colors */
:root {
    --border: rgb(81, 78, 226);
    --bordergradient: rgba(255, 122, 255,0.25);
    --fancylineleft: #8D5DA4;
    --fancylineright: #0066ff;
    --url: white;
    --urlclicked: lightskyblue;
  }

section.fullsidebar {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
  }

  section.latestblog {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
  }

  section.webrings {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
  }

  section.buttons {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
  }

.test {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;   
    background-image: linear-gradient(180deg, #ffffff, #cb9eff);  
    font-family: 'Press Start 2P', monospace;
  }

  span {
    font-family: 'Munro';
    color: white;
    font-size: 16px;
  }

  hr {
    background: linear-gradient(to right, var(--fancylineleft), var(--fancylineright));
    height: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    width: 100%;
  }

  span a{
    color: white;
  }

  span a:visited {
    color: white;
  }

  .buttons img {
    width: 77px;;
  }

  /* Status.Cafe */
  #statuscafe {
    color: white;
    font-family: 'Munro';
}

#statuscafe-username {
    margin-bottom: 20px;
}

#statuscafe-username a {
    margin-bottom: 20px;
    color: lightblue;
}
