/* Hide menu link on non-mobile */
@media (min-width: 900px) {
  section.viewport > nav #mobileMenuToggle {
    display: none;
  }
}

/* Rules for < 900px width */
@media (max-width: 899px) {

  .viewport > img:first-child {
    max-width: 100%;
  }

  /* Collapsed menu */
  section.viewport > nav {
    flex-direction: column;
    justify-content: start;
    overflow-y: hidden;
    font-size: 18px;
  }

  /* Toggle button styles */
  section.viewport > nav #mobileMenuToggle {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  /* When menu is open */
  section.viewport > nav.menuOpen {
    overflow: visible;
    height: auto;
  }

  /* Move left sidebar */
  section.body {
    flex-direction: column;
  }

  section.body > article, section.body > section {
    margin: var(--layout-inmargin) 0;
    width: 100%;
    min-height: 200px;
  }

  section.body section.leftsb {
    order: 3;
    height: 300px;
    margin-bottom: 0px;
  }

  section.body section.rightsb {
    height: 280px;
  }

  /* spacing & sizing tweaks */
  body {
  font-size: 15px;
  }
  .tab button {
    font-size: 15px;
    border: 2px solid lightgray;
  }

  section.body article h1 {
    font-size: 20px;
  }
  
  section.body article {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  footer {
    text-align: center;
  }

  /* system page tweaks */
  section.systemdir > section.headmate {
    flex-direction: column;
    margin-bottom: 8px;
  }

  section.headmate img {
    width: 65%;
  }

section.headmate span {
    text-align: center;
    align-self: center;
    width: 90%;
  }

  /* fix sidebyside */
  section.sidebyside {
    flex-direction: column;
  }

  section.sidebyside > section.columnA {
    width: 100%;
  }

  section.sidebyside > section.columnB {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  section.techdir {
    flex-direction: column;
  }
  
  section.techdir .devicebox a {
    width: 100%;
  }

  section.techdir .device {
    display: grid;
    grid-template-columns: 100px auto;
  }

  section.techdir .device img {
    margin: 0 var(--layout-inmargin);
    grid-row: 1 / 3;
  }

  section.device p.subtitle {
    font-size: 13px;
  }

  section.device p.fedisubtitle {
    font-size: 12px;
    margin-top: 0px;
  }
}


